{% extends 'base.html.twig' %}

{% block title %}Liste des cartes{% endblock %}

{% block body %}

<h1 class="text-center fw-bolder">Liste des cartes</h1>
<div class="row mt-5 d-flex justify-content-center">
		{% for card in cards %}
			<div class="card border-secondary col-3 me-2 mb-3 p-0 h-auto" style="max-width: 20rem;">
				<div class="card-header">{{ card.name }}</div>
				<div class="card-body">
					<p class="pcategory fw-bolder card-text">Quantité : {{card.quantite}}</p>
					<p class="badge rounded-pill bg-dark mt-2"> Acheté le  : {{card.buyAt}}</p>
					<p class="card-text mt-2">Vendu le : {{ card.sellAt }}</p>
                    <p class="card-text mt-2"> En vente : {{ card.inSell }}</p>
					<p class="card-text">Description : {{ card.description }} </p>
					{# <a href="{{ path('blog_show', {slug: article.slug}) }}" class="btn btn-secondary text-center">Voir article</a> #}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
