{% extends 'base.html.twig' %}

{% block title %}Liste des cartes{% endblock %}

{% block body %}

<h1 class="text-center fw-bolder">Liste des cartes</h1>
<div class="d-flex mx-auto justify-content-center text-center">
		<div>
			{{ form_start(filter) }}
				{{form_widget(filter) }}
			{{ form_end(filter) }}
		</div>
	</div>
<div class="row mt-5 d-flex justify-content-center">
		{% for card in cards %}
			<div class="card border-secondary col-3 me-2 mb-3 p-0 h-auto" style="max-width: 20rem;">
				<div class="card-header">Nom : {{ card.name }}</div>
				<div class="card-body">
					<p class="card-text">Valeur : {{card.value}} euros </p>
					<p class="card-text mt-2"> Quantité  : {{card.quantite}}</p>
					<img src="{{ asset('assets/img/' ~ card.image) }}" alt="Image de la carte">
					<p class="card-text mt-2">Description : {{ card.description }} </p>
					<p class="card-text mt-2">Acheté le : {{ card.buyAt|date('d/m/Y')}}</p>
					<p class="card-text mt-2">Vendu le : {{ card.sellAt|date('d/m/Y') }}</p>
					{% if card.inSell == true %}
                    <p class="card-text mt-2"> En vente : oui</p>
					{% else %}
					<p class="card-text mt-2"> En vente : non</p>
					{% endif %}
						{% if app.user %}
								{% if 'ROLE_ADMIN' in app.user.roles %}
					<a href="{{ path('card_show',{id: card.Id}) }}" class="btn btn-secondary text-center">Voir carte</a> 
								{% endif %}
						{% endif %}
								<a href="{{ path('sendmail',{id: card.Id}) }}" class="btn btn-secondary text-center">Encherir</a> 
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
