{% extends 'base.html.twig' %}

{% block title %} Carte {% endblock %}


{% block body %}

<h1 class="text-center fw-bolder">Liste des cartes</h1>
<div class="row mt-5 d-flex justify-content-center">
		
			<div class="card border-secondary col-3 me-2 mb-3 p-0 h-auto" style="max-width: 20rem;">
				<div class="card-header">Nom : {{card.name}}</div>
				<div class="card-body">
					<p class="card-text">Valeur : {{card.value}} euros </p>
					<p class="card-text mt-2"> Quantité  : {{card.quantite}}</p>
					<img src="{{ asset('assets/img/' ~ card.image) }}" alt="Image de la carte">
					<p class="card-text mt-2">Description : {{ card.description }} </p>
					<p class="card-text mt-2">Acheté le : {{ card.buyAt|date('d/m/Y')}}</p>
					<p class="card-text mt-2">Vendu le : {{ card.sellAt|date('d/m/Y') }}</p>
                    <p class="card-text mt-2"> En vente : {{ card.inSell }} exemplaire</p>
					<a class="btnmodif" href="{{path('card_edit', {id: card.id}) }}">Modifier</a>
                    <a class="btnsuppr" href="{{path('card_delete', {id: card.id}) }}">Supprimer</a> 
				</div>
			</div>
		
	</div>
{% endblock %}